@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Microsoft Azure Cloud Service</h1>
    <p>This is my 1st Azure Application GitHub.</a>.</p>
    <p> This page for Git Hub. This Demo</p>
</div>
